<html>
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="style.css" rel="stylesheet">
</head>
  <body>
     <nav class="navbar navbar-dark">
	   	<span class = "navbar-brand">Lista do zrobienia</span>
	   <form class="form-inline">
	     <div class="custom-control custom-switch">
           <input type="checkbox" class="custom-control-input" id="theme-switch">
        <label class="custom-control-label" for="theme-switch">
        	Light/Dark Mode
        </label>
         </div>
       </form>
    </nav>
    
  	<div class="container-fluid">
	<div class = "row">
	  <div class = "col-sm">
            <h2> Zadania do zrobienia </h2>
	      <div class="form-group form-check px-5">
	         <% for( var i = 0; i < task.length; i++){ %>
	            <form action="removetask" method="POST">
                      <input type="checkbox" class ="form-check-input" onChange="this.form.submit()" formaction="/removetask" name="check" value="<%= task[i] %>"><%= task[i] %>
	            </form>
		
                 <% } %>
    </div>
        <form action ="/addtask" method="POST">
	
	    <input type="text" name="newtask" placeholder="Wpisz zadanie">
             <button type="submit" class="btn btn-primary">Dodaj zadanie </button>
	</form>
	</div>
	<div class="col-sm">
	<h2> Zadania zrobione </h2>
	<div class="px-5">
	<% for(var i = 0; i < complete.length; i++){ %>
		<form class="form-check" action="/unchecktask" method="POST"> 
			<input type="hidden" name="check" value="<%= complete[i] %>" id="defaultcheck<%=i%>">
			<input class ="form-check-input" type="checkbox" checked onChange="this.form.submit()">
			<label class="form-check-label" for="defaultcheck<%=i%>"><%= complete[i] %></label>
	  </form>
	<% } %>
	</div>
 	 <form action="/cleartask" method="GET">
    	  <button type="submit" class="btn btn-primary"> Wyczyść listę </button>
	 </form>
	 </div>
	 </div>

<script src="script.js"></script>
	</div>
  </body>
</html>
